.wrapper{
    margin: 120px 2% 0 2%;
    display: flex;
    gap: 2%;
    min-height: 100vh;
}

.wrapper .orders {
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    width: 73%;
    height: fit-content;
}

.wrapper .orders .order{
    border: solid 1px rgba(0, 0, 0, 0.1);
    padding: 3%;
    display: flex;
    justify-content: space-between;
}

.wrapper .orders .order:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}