.wrapper{
    margin-top: 82px;
    min-height: 100vh;
}

.navbar2{
    padding: 20px;
    background-color: darkred;
    color: white;
    display: flex;
    justify-content: space-around;
}

.navbar2 .item{
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.navbar2 .item:hover{
    transform: scale(1.2);
}

.dishes-container{
    background-color: white;
    width: 85%;
    border-radius: 30px;
    padding: 20px;
}

.dishes-container .image-box{
    width: 25%;
}

.dishes-container .image-box img{
    width: 100%;
    aspect-ratio: 1/1;
}

.dishes-container th,
.dishes-container td{
    padding: 20px;
}