.wrapper{
    margin: 120px 2% 0px 2%;
    display: flex;
    gap: 2%;
    min-height: 100vh;
}

.wrapper .change-password {
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    width: 73%;
    height: fit-content;
}

.wrapper .change-password .password{
    margin-bottom: 40px;
}

.wrapper .change-password .password input{
    padding: 4px 6px;
    width: 100%;
}

.wrapper .change-password .btn-box{
    text-align: end;
    margin-top: 50px;
}